{% extends 'main.html' %} {% load static %}
{% block title %}Manager Video{% endblock title %}
{% block content %}
<h3>Dashboard</h3>
<div class="row  mt-4">
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon purple">
                            <img style="width: 20px; height:20px;"src="{% static 'styles/images/category.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="text-muted font-semibold">Total Categories</h6>
                        <h6 class="font-extrabold mb-0">{{total_category}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon blue">
                            <img style="width: 20px; height:20px;"src="{% static 'styles/images/comment.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="text-muted font-semibold">Total Comments</h6>
                        <h6 class="font-extrabold mb-0">{{total_comment}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon green">
                            <img style="width: 20px; height:20px;"src="{% static 'styles/images/report.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="text-muted font-semibold">Total Reports</h6>
                        <h6 class="font-extrabold mb-0">{{total_report}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon red">
                            <img style="width: 20px; height:20px;"src="{% static 'styles/images/user1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="text-muted font-semibold">Total Users</h6>
                        <h6 class="font-extrabold mb-0">{{total_user}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-6 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon"  style="width:80%; height:100%;background-color:#ff9a32;">
                            <img style="width: 25px; height:25px;"src="{% static 'styles/images/video.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="text-muted font-semibold">Total Videos</h6>
                        <h6 class="font-extrabold mb-0">{{total_video}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon blue"   style="width:80%; height:100%; background-color:#3d85c6 ;">
                            <img style="width: 25px; height:25px;"src="{% static 'styles/images/tv.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="text-muted font-semibold">Total TVs</h6>
                        <h6 class="font-extrabold mb-0">{{total_tv}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon"   style="width:80%; height:100%; background-color:#F2C846">
                            <img style="width: 25px; height:25px;"src="{% static 'styles/images/radio.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="text-muted font-semibold">Total Radios</h6>
                        <h6 class="font-extrabold mb-0">{{total_radio}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<h4>Top Viewed Videos</h4>
<div class="card" >
    <div class="card-body">
    <canvas height="100" id="myChart1"></canvas>
    </div>
</div>

<h4>Top Rated Videos</h4>
<div class="card" >
    <div class="card-body">
    <canvas height="100" id="myChart2"></canvas>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels1 = {{titles_mv|safe}};
  
    const data1 = {
      labels: labels1,
      datasets: [{
        label: 'Top Viewed Videos',
        backgroundColor: 'transparent',
        borderColor: '#435ebe',
        borderWidth:4,
        data: {{views_mv|safe}},
      }]
    };
  
    const config1 = {
      type: 'line',
      data: data1,
      options: {
        tension:0.35,
      }
    };

    const myChart1 = new Chart(
      document.getElementById('myChart1'),
      config1
    );

    const labels2 = {{titles_tr|safe}};
  
    const data2 = {
      labels: labels2,
      datasets: [{
        label: 'Top Rated Videos',
        backgroundColor: 'transparent',
        borderColor: '#435ebe',
        borderWidth:4,
        data: {{views_tr|safe}},
      }]
    };
  
    const config2 = {
      type: 'line',
      data: data2,
      options: {
        tension:0.35,
      }
    };

    const myChart2 = new Chart(
      document.getElementById('myChart2'),
      config2
    );
  </script>
{% endblock content %}