<div class="app-messaging-container">
    <div class="app-messaging" id="collapseMessaging">
    <div class="chat-group">
        <div class="heading" style="font-size: 16px">Video Description</div>
        <ul class="group full-height">
            <li class="message">
                <a href="javascript:void(0)">
                    <div class="message">
                        <i class="fa fa-tags"></i>
                        <div class="content">
                            <div class="title">&nbsp;&nbsp;Comedy</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="message">
                <a href="javascript:void(0)">
                    <div class="message">
                        <i class="fa fa-eye"></i>
                        <div class="content">
                            <div class="title">&nbsp;&nbsp;135 Views</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="message">
                <a href="javascript:void(0)">
                    <div class="message">
                        <i class="fa fa-comments-o"></i>
                        <div class="content">
                            <div class="title">&nbsp;&nbsp;<span class="total_comments">1</span> Comments</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="messaging">
        <div class="heading">
            <div class="title" style="font-size: 16px">
                <a class="btn-back" href="manage_comments.php">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
                <strong style="font-weight: 600">Title: </strong>&nbsp;&nbsp;Chup chup ke movie comedy scenes | Rajpal yadav chup chupke				</div>
            <div class="action"></div>
        </div>
        <ul class="chat" style="flex: unset;height: 500px;">
                                    <li class="line">
                        <div class="title">22 Apr 2022</div>
                    </li>
                                                <li class="1" style="padding-right: 20px">

                            <div class="message" style="padding: 5px 10px 15px 5px;min-height: 60px">
                                <img src="assets/images/user_photo.png" style="float: left;margin-right: 10px;border-radius: 50%;box-shadow: 0px 0px 2px 1px #ccc;height:50px;width:50px;">
                                <span style="color: #000;font-weight: 600">Maan Mods</span>
                                <br/>
                                <span>
                                    bhlo	
                                </span>
                            </div>
                            <div class="info" style="clear: both;">
                                <div class="datetime">
                                    1 month ago										<a href="javascript:void(0)" class="btn_delete_comment" data-id="1" data-book="1" style="color: red;text-decoration: none;" data-table="tbl_comments"><i class="fa fa-trash"></i> Delete</a>
                                </div>
                            </div>
                        </li>
            </ul>
</div>
</div>
</div>