<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% comment %} <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="{% static 'styles/main.css' %}"
        /> {% endcomment %}
        <link
            rel="stylesheet"
            type="image/png"
            media="screen"
            href="{% static 'styles/images' %}"
        />
        <link rel="shortcut icon" href="{% static 'styles/images/web_icon.png' %}" />
        <link rel="stylesheet" href="{% static 'styles/css/main/app.css' %}">
        <link rel="stylesheet" href="{% static 'styles/css/main/app-dark.css' %}">
        <link rel="stylesheet" href="{% static 'styles/css/shared/iconly.css' %}">
        <link rel="shortcut icon" href="{% static 'styles/images/logo/favicon.svg' %}" type="image/x-icon">
        <link rel="shortcut icon" href="{% static 'styles/images/logo/favicon.png' %}" type="image/png">
        <link rel="shortcut icon" href="{% static 'styles/images/logo/logo.svg' %}" type="image/png">
    {% block style %}
    {% endblock style %}
    <title>{% block title %}Manager{% endblock title %}</title>
  </head>
  <body>
    <div id="app" class="maincontents">
      <div id="sidebar" class="active">{% include 'navs.html' %}</div>
      <div id="main">
          {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="mt-2 alert alert-success" role="alert">
                {{ message }}
              </div>
            {% elif message.tags == 'error' %}
              <div class="mt-2 alert alert-danger" role="alert">
                {{ message }}
              </div>
            {% endif %}

            {% endfor %} 
          {% endif %}
          {% block content %} 
          {% endblock content %}
      </div>
  </div>
  </body>
</html>
