<nav class="navnhi navbar navbar-dark bg-dark" >
  <ul class="ulnhi nav flex-column">
    <li class="nav-item">
      <a class="nhi nav-link" href="#">Manager</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="#">Category</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="#">Favorite</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="#">Report</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="#">User</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="#">Setting</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="{% url 'main:logout'%}">Logout</a>
    </li>
  </ul>
</nav>
