<nav class="navnhi navbar navbar-dark bg-dark" >
  <ul class="ulnhi nav flex-column">
    <li class="nav-item">
      <a class="nhi nav-link" href="{% url 'managervideo:managervideo' 1%}">Manager</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="{% url 'category:category' 1%}">Category</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="#">Favorite</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="{% url 'report:report_home' 0%}">Report</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="{% url 'comment:comment_home' 0%}">Comment</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="#">User</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="#">Setting</a>
    </li>
    <li class="nav-item">
      <a class="nhi nav-link" href="{% url 'main:logout' %}">Logout</a>
    </li>
  </ul>
</nav>
