{% extends 'main.html' %} {% block content %}

<div class="card border-dark bg-light my-1">
    <p class="card-header h3 text-white bg-dark">VIDEO DETAIL</p>

    <form class="font-weight-bold p-4">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="exampleFormControlInput1">ID</label>
                <input
                    name="id"
                    type="number"
                    value="{{video.vid_id}}"
                    class="form-control"
                    required
                    id="exampleFormControlInput1"
                    readonly="readonly"
                />
            </div>
            <div class="form-group col-md-4">
                <label for="exampleFormControlInput1">Duration</label>
                <input
                    name="duration"
                    type="number"
                    min="0"
                    value="{{video.vid_duration}}"
                    required
                    class="form-control"
                    readonly="readOnly"
                    id="exampleFormControlInput1"
                />
            </div>
            <div class="form-group col-md-4">
                <label for="exampleFormControlInput1">Rate average</label>
                <input
                    name="rate"
                    type="number"
                    min="0"
                    value="{{video.vid_avg_rate}}"
                    required
                    readonly="readonly"
                    class="form-control"
                    id="exampleFormControlInput1"
                />
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Category</label>
            <select class="form-control" id="exampleFormControlSelect1">
                {% for cat in categories %}

                <option name="cat_id" value="{{cat.cat_id}}" {% if cat.cat_id == video.cat_id  %} selected="selected"{% endif %}>{{cat.cat_name}}</option>

                
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input
                name="title"
                type="text"
                value="{{video.vid_title}}"
                class="form-control"
                required
                id="exampleFormControlInput1"
            />
        </div>

        <label class="d-block" for="exampleFormControlInput1">URL</label>    
        <div class="form-row">
            <div class="form-group col-md-10">
                <input
                    name="url"
                    type="text"
                    class="d-inline form-control"
                    value="{{video.vid_url}}"
                    required
                    id="exampleFormControlInput1"
                />
            </div>
            <div class="form-group col d-flex flex-row align-items-center justify-content-center">
                <a class="btn btn-primary w-100" href="">Check video</a>
            </div>
          </div>
        <div class="form-group">
            <label for="fromFile" class="form-label">Thumbnail</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="image_picker">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <img id="image" class="pt-2 img-fluid w-50" alt="Can't show that picture" src="{{video.vid_thumbnail}}"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea
                name="description"
                class="form-control"
                id="exampleFormControlTextarea1"
                required
                rows="6"
            >
            {{video.vid_description}}
            </textarea
            >
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleFormControlInput1">Views</label>
                <input
                    name="views"
                    type="number"
                    min="0"
                    step="1"
                    required
                    class="form-control"
                    value="{{video.vid_view}}"
                    id="exampleFormControlInput1"
                />
            </div>
            <div class="form-group col-md-6">
                <label for="exampleFormControlInput1">Post time</label>
                <input
                    name="time"
                    type="date"
                    class="form-control"
                    value="{{date}}"
                    id="exampleFormControlInput1"
                />
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Status</label>
            <select class="form-control" id="exampleFormControlSelect1">

                {% if video.vid_status == 1 %}
                <option name="status" value="1" selected="selected">Enable</option>
                <option name="status" value="0">Disable</option>
                {% else %}
                <option name="status" value="1">Enable</option>
                <option name="status" value="0" selected="selected">Disable</option>
                {% endif %}

            </select>
        </div>

        <div
            class="d-flex mt-5 flex-row justify-content-end align-items-center"
        >
            <input
                type="submit"
                class="btn btn-primary mr-1"
                value="Save"
            />
            <input type="submit" class="btn btn-danger" value="Cancel" />
        </div>
    </form>
</div>

<script>
    document.getElementById("image_picker").onchange = function () {
        var reader = new FileReader();
    
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("image").src = e.target.result;
        };
    
        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
</script>

{% endblock content %}
