{% extends 'main.html' %} {% block content %}

<div
    class="d-flex flex-column h-100 align-items-center justify-content-center"
>
    <h1>VIDEO PLAYER</h1>
    <div class="w-75 card ">
        {% if url == '' %}
        <div class="p-5 d-flex align-items-center justify-content-center">
            <h4>Please come from detail page to watch video!</h>
        </div>
        {% else %}
        <video class="" controls autoplay="true">
            <source src="{{url}}" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        {% endif %}

        <button
            type="button"
            class="btn btn-secondary rounded-0 btn-lg btn-block"
            onClick="javascript:history.go(-1);"
        >
            Back
        </button>
    </div>
</div>

{% endblock content %}
