{% extends 'main.html' %} {% load static %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/category/category.css' %}"
/>
{% endblock style%}
{% block title %}Category{% endblock title %} 
{% block content %}
<div>
  <div class=" taskbar_category">
    <h3>Category Manager For Admin</h3>
    <a type="button" style="margin-left:10px;" href="{%url 'category:add' pk=choice%}">
    <input type="image" style="width:10%; height:10%; align-center;" src="{% static 'styles/images/ic_add.png' %}"/></a>
  </div>
<div class="taskbar_category">
  <select  class="form-select btn btn-outline-primary" style="width:15%;" name="type" select = "2" size = "1" onchange = "window.location.href =  this.value">
    <option value="{% url 'category:category' 1 %}"
      {% if choice == "1"%} selected = "selected" {%endif%}>Video</option>
    <option value="{% url 'category:category' 2 %}" 
      {% if choice == "2"%} selected = "selected" {%endif%}>Live TV</option>
    <option value="{% url 'category:category' 3 %}"
      {% if choice == "3"%} selected = "selected" {%endif%}>Radio</option>
  </select>
  <div class="d-flex flex-row ms-auto" style="margin-right:2%">
    <form action="{% url 'category:category' choice %}" method = "GET">
      
      <input class="input-group-text" type="text" name = "q" placeholder = "Search Category...."/>
    </form>
   
  </div>
</div>

<div style="overflow: hidden;">
    <div class="row">
      {% for category in list_cats %}
      <div class="" style="width: 25%; ">
        <div class="card d-flex flex-row justify-content-start align-items-end" style="height: 25vh; transition: all 0.15s linear; background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0), rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url({{category.cat_image}}) center center/cover no-repeat, url('https://images.unsplash.com/photo-1520549233664-03f65c1d1327?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80') center center/cover no-repeat;">
          <div class="card-content">   
            <div class="card-body">
              <h5 class="card-title text-white">{{category.cat_name}}</h5>
              <div class="d-flex flex-row">
                <a class="me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
                    href="{% url 'category:edit' pk=choice  id=category.cat_id %}">
                    <img style = "width:24px; height:24px;"src="{% static 'styles/images/edit_video.png' %}" alt="">
                </a>                        
                <a href="{% url 'category:delcate'  pk=choice  id=category.cat_id %}"  data-bs-toggle="tooltip" data-bs-placement="top" {% if category.cat_status == 1 %}title="Disable"{% else %}title="Enable"{% endif %}>
                  {% if category.cat_status == 1 %}  
                      <img  style = "width:24px; height:24px;"src="{% static 'styles/images/enable.png' %}" alt="">
                    {% else %}
                      <img style = "width:24px; height:24px;"src="{% static 'styles/images/disable.png' %}" alt="">
                    {% endif %}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="d-flex justify-content-center align-items-center" style="height: 8%">
      <nav aria-label="Page navigation example " style="margin-top:10px;">
        <ul class="pagination">
          {% if list_cats.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{list_cats.previous_page_number}}">Previous</a></li>
          {% endif %}
          {% for i in nums %}
          <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
          {% endfor %}
          {% if list_cats.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{list_cats.next_page_number}}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{list_cats.paginator.num_pages}}">Last &raquo</a></li>
          {% endif %}
        </ul>
      </nav>  
    </div> 
</div>


{% endblock content %}
